<div class="event-card">
    <button type="button" class="btn-close" aria-label="Close" (click)="closeEvent()"></button>
    <form class="row g-3">
        <div class="col-12">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" [(ngModel)]="event.title" name="title">
        </div>
        <div class="col-12">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" [(ngModel)]="event.description" name="description">
        </div>

        <div class="col-md-6">
            <label for="startTime" class="form-label">Start Time</label>
            <input type="text" class="form-control" id="startTime" [(ngModel)]="event.startTime" name="startTime">
        </div>
        <div class="col-md-6">
            <label for="endTime" class="form-label">End Time</label>
            <input type="text" class="form-control" id="endTime" [(ngModel)]="event.endTime" name="endTime">
        </div>

        <div class="col-md-6">
            <label for="latitude" class="form-label">Latitude</label>
            <input type="text" class="form-control" id="latitude" [(ngModel)]="event.latitude" name="latitude">
        </div>
        <div class="col-md-6">
            <label for="longitude" class="form-label">Longitude</label>
            <input type="text" class="form-control" id="longitude" [(ngModel)]="event.longitude" name="longitude">
        </div>


        <div class="col-12">
            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Update</button>
        </div>

    </form>

</div>