:host {
    position: fixed;
    min-height: 70%;
    min-width: 50%;
    max-width: 90%;
    z-index: 2;
    top: 15%;
    bottom: 5%;
    padding: 20px;
    background-color: white;
    overflow-y: auto;
}


.event {
    max-width: 70%;
}